body {
  background-color: #333333;
}
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: #f8f8f8;
}
@media (min-width: 768px) {
	  #page-wrapper {
	  position: inherit;
	  margin: 0 0 0 250px;
	  padding: 0 30px;
	  border-left: 1px solid #e7e7e7;
	}
}
.navbar {
  background-color: #333333;
  border-bottom-color: #222222;
}
.navbar-top-links {
    margin-right: 0;
}
.navbar-brand {
  color: #FFFFFF !important;
}
.navbar-brand:hover {
  color: #FFFFFF !important;
}
.navbar {
  border-bottom: 1px solid #222222;
}
.navbar a {
  background-color: #333333 !important;
}
.navbar a.active {
  background-color: #121212 !important;
}
.navbar a:hover {
  background-color: #222222 !important;
}
.dropdown-menu {
  border-bottom: 1px solid #eeeeee;
}
.dropdown-menu a {
  background-color: white !important;
}
.dropdown-menu a.active {
  background-color: #dedede !important;
}
.dropdown-menu a:hover {
  background-color: #eeeeee !important;
}
.navbar a {
  color: #dedede;
}
.navbar a.active {
  color: #dedede;
}
.navbar a:hover {
  color: #ffffff;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.sidebar {
  background-color: #333333;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #222222;
}
.sidebar ul li a {
  background-color: #333333 !important;
}
.sidebar ul li a.active {
  background-color: #121212 !important;
}
.sidebar ul li a:hover {
  background-color: #222222 !important;
}
.sidebar a {
  color: #dedede;
}
.sidebar a.active {
  color: #dedede;
}
.sidebar a:hover {
  color: #ffffff;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .sidebar {
  z-index: 1;
  position: absolute;
  width: 250px;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  margin-left: auto;
}

}
#loading {
  padding: 30px 10px;
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
.login-panel {
  margin-top: 25%;
}
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}
.show-grid {
  margin: 15px 0;
}
.panel-heading {
  background-color: #f0f0f0 !important;
}
.panel-footer {
  background-color: #f0f0f0 !important;
}
.huge {
  font-size: 40px;
}
.panel-primary {
  border-color: #428bca;
}
.panel-primary .panel-heading {
  border-color: #428bca;
  color: white;
  background-color: #428bca !important;
}
.panel-primary a {
  color: #428bca;
}
.panel-primary a:hover {
  color: #2a6496;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c !important;
}
.panel-green a {
  color: #5cb85c;
}
.panel-green a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f !important;
}
.panel-red a {
  color: #d9534f;
}
.panel-red a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e !important;
}
.panel-yellow a {
  color: #f0ad4e;
}
.panel-yellow a:hover {
  color: #df8a13;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
  color: #FFFFFF !important;
}
